body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*solutions*/
.header{
  display: flex;
  justify-content: flex-start;
  padding-left:16px;
  font-size:32px;
  font-weight: 900;
  align-items:center;
}

.content{
  display: flex;;
  justify-content: space-between;
  align-items: stretch;
}

.sidebar{
  display: flex;
  flex:none;
  width:300px;
  padding: 16px;
}

ul{
  margin:0;
  padding: 0;
}

.sidebar li{
  list-style:none;
}

.sidebar a{
  text-decoration: none;
  font-size:24px;
  color: white;;
}

.info{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 32px;
  margin: 0;
  gap:16px;
}

.card{
  padding: 16px;
  width: 290px;
  height: 290px;
  flex-shrink: 0;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}